In [4]:
import sys
sys.path.append("..")

In [5]:
import pandas, pickle
from matchsurname.match_surname import matchLastName

Execute surname match from Bronbeek to NMVW and store result in pickle file

In [ ]:
result = matchLastName(df1=pandas.read_pickle("nmvw_data/ccrdfconst/person_names.pkl"),
                        df2=pandas.read_csv("/Users/sarah_shoilee/Desktop/Sarah/Bronbeek_Data/csv_dump/Constituents.csv"))

with open("../bronbeekToNmvwSurnameMatchResults.pkl", "wb") as handle:
    pickle.dump(result, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [8]:
df = pandas.read_pickle("../bronbeekToNmvwSurnameMatchResults.pkl")
print(f'Out of {len(df.index)}, only {len(df.loc[df["MATCH"] == "YES"])} has a positive match')

Out of 15382, only 6495 has a positive match

In [10]:
df[['LastName', 'DisplayName', 'RetrievedNames', 'MATCH']].sample(n = 10)

,LastName,DisplayName,RetrievedNames,MATCH
1616,NaN,Erven Zweep,[],NO
4471,Langen,K.F.H. van Langen,"[K.W.F. van Langen, K.F.H. (Karel Frederik Hen...",YES
6812,Vivié,Tijmen Vivié,[],NO
13789,Verwey,Drs. Jonathan Verwey,"[F. de la Fontaine Verwey, prof. dr. H. (Herma...",YES
211,Oudenampsen,Kapitein A.J. van Oudenampsen,[],NO
7170,Smith,Louise F.E. Smith,"[S. McCosker Smith, John (J.) Smith, J.D. (Joh...",YES
9698,Henneman,N.G. Henneman,[],NO
13269,Mulder-Tersteege,Mevrouw M. Mulder-Tersteege,[],NO
14846,Zimmeren,Lex van Zimmeren,[Lex van Zimmeren],YES
11044,Oostrom-Scholte,Mw. B.K. van Oostrom-Scholte,[],NO