In [1]:
import pandas

In [2]:
# choose random 40 out of all the nmwv constituent names
df = pandas.read_csv("../nmvw_data/person_names.csv").sample(n=40, random_state=1 )

In [3]:
df.head()

,Unnamed: 0,nmvw_uri,pref_label,birth_begin_time,birth_end_time,death_begin_time,death_end_time
27079,27079,https://hdl.handle.net/20.500.11840/pi32092,R. (Ravi) Shankar,NaN,NaN,NaN,NaN
25199,25199,https://hdl.handle.net/20.500.11840/pi31639,A. Saavedra,NaN,NaN,NaN,NaN
35342,35342,https://hdl.handle.net/20.500.11840/pi43485,Yo Boen Kong,NaN,NaN,NaN,NaN
23094,23094,https://hdl.handle.net/20.500.11840/pi79620,Craig Quintero,NaN,NaN,NaN,NaN
1228,1228,https://hdl.handle.net/20.500.11840/pi80535,I Djanklik,NaN,NaN,NaN,NaN

In [4]:
# drop the previous index
df = df.drop('Unnamed: 0', axis=1)

In [5]:
# add new ConstituentID column for bronbeek constituent
df = df.assign(ConstituentID= None)

In [6]:
df.to_csv("ground_truth_random_40.csv", index = False)