Task: Given two dataset A and B, find correspondance A--> B, based on determinat variable 
    ($\theta$) e.g., 'FullName' or 'surname'
<li>NB: we are looking for n to n relationship </li>

<ul>
<li> Input: A(x1, x2, ...xn) and B(y1, y2, ..., ym) </li>
<li> Output: A-->B {(x1-->y1, x2-->y2), ... , (xn-->ym)} </li>
</ul>

In [1]:
import sys
sys.path.append("..")

In [2]:
import pandas, pickle

This script takes into consideration of 16 expert given correspondance, where we know the exact correspondace of nmvw $times$ bronbeek constituents.

Source --> NMVW (15); L. (Louis) van Vuuren has two correspondance, due to double entry in Bronbeek.

Target --> Bronbeek (16)

Evaluation: precision and recall on [ground_truth_16_expertsname.tsv](ground_truth_16_expertsname.tsv)

In [3]:
df1 = pandas.read_csv("ground_truth_16_expertsname.tsv", sep="\t", index_col=0).iloc[:, 0:6]
df2 = pandas.read_csv("ground_truth_16_expertsname.tsv", sep="\t", index_col=0).iloc[:, 5:]

In [4]:
print(f"The shape of NMVW data: {df1.shape}")
print(f"The shape of Bronbeek data: {df2.shape}")

The shape of NMVW data: (16, 6)
The shape of Bronbeek data: (16, 21)

# Exact string matching

In [5]:
from matchexactstring.match_exact_string import matchExactString

result_exact = matchExactString(df1, df2)

32 workers are available

1it [00:00, 380.33it/s]
0it [00:00, ?it/s]
1it [00:00, 418.93it/s]
0it [00:00, ?it/s]
1it [00:00, 284.19it/s]
1it [00:00, 311.73it/s]
1it [00:00, 239.56it/s]
0it [00:00, ?it/s]
1it [00:00, 313.26it/s]
1it [00:00, 404.04it/s]
1it [00:00, 383.01it/s]
1it [00:00, 330.81it/s]
1it [00:00, 304.42it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
1it [00:00, 67.72it/s]
1it [00:00, 370.62it/s]
1it [00:00, 404.35it/s]
0it [00:00, ?it/s]
1it [00:00, 416.31it/s]
1it [00:00, 422.81it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
1it [00:00, 702.33it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]
0it [00:00, ?it/s]

In [6]:
with open("expertgivennames/ExactMatchResults.pkl", "wb") as handle:
    pickle.dump(result_exact, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [7]:
df = pandas.read_pickle("expertgivennames/ExactMatchResults.pkl")
df.to_csv("expertgivennames/ExactMatchResults.tsv", sep="\t", index=True)
df.shape

(1, 27)

In [8]:
from calculate_result import calculate_result
ground_truth = pandas.read_csv("ground_truth_16_expertsname.tsv", sep="\t", index_col=0)
calculate_result(df, ground_truth)

Total correspondence: 16
True positive count: 1
Recall: 0.0625


Total correspondence: 1
Total retrieved: 1
True positive count: 1
Precision: 1.0


F-measure: 0.11764705882352941

(16, 1, 1, 0.0625, 1.0, 0.11764705882352941)

In [14]:
df.iloc[:, :17]

,nmvw_uri,pref_label,birth_begin_time,birth_end_time,death_begin_time,death_end_time,death_end_time,ConstituentID,AlphaSort,NameTitle,Biography,FirstName,MiddleName,LastName,Suffix,FullName,DisplayName
0,https://hdl.handle.net/20.500.11840/pi64129,Adolphe Zimmermans,1858-04-02,1858-04-02,1922-07-02,1922-07-02,1922-07-02,5995.0,Zimmermans Adolphe,NaN,"Signeert met: ""Adolphe Zimmermans Photographe ...",Adolphe,NaN,Zimmermans,NaN,Adolphe Zimmermans,Adolphe Zimmermans

# Abbreviation Matching

In [ ]:
from matchwithabbreviation.match_with_abbreviation import match_with_abbreviation
result_abbreviation = match_with_abbreviation(df1, df2)

In [ ]:
with open("expertgivennames/AbbreviationMatchResults.pkl", "wb") as handle:
    pickle.dump(result_abbreviation, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
df = pandas.read_pickle("expertgivennames/AbbreviationMatchResults.pkl")
df.to_csv("expertgivennames/AbbreviationMatchResults.tsv", sep="\t", index=True)
df.shape

In [ ]:
from calculate_result import calculate_result
ground_truth = pandas.read_csv("ground_truth_16_expertsname.tsv", sep="\t", index_col=0)
calculate_result(df, ground_truth)

In [ ]:
df

# Surname Matching

In [ ]:
from matchsurname.match_surname import matchLastName
result_surname = matchLastName(df1, df2)

In [ ]:
with open("expertgivennames/SurnameMatchResults.pkl", "wb") as handle:
    pickle.dump(result_surname, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
df = pandas.read_pickle("expertgivennames/SurnameMatchResults.pkl")
df.to_csv("expertgivennames/SurnameMatchResults.tsv", sep="\t", index=True)
df.shape

In [ ]:
from calculate_result import calculate_result
ground_truth = pandas.read_csv("ground_truth_16_expertsname.tsv", sep="\t", index_col=0)
calculate_result(df, ground_truth)

In [ ]:
df

# Fuzzy String Match

In [ ]:
from matchfuzzystring.match_fuzzy_string import match_fuzzy_string
result_fuzzymatch = match_fuzzy_string(df1, df2, max_score=75)

In [ ]:
with open("expertgivennames/FuzzyStringMatchResults.pkl", "wb") as handle:
    pickle.dump(result_fuzzymatch, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
df = pandas.read_pickle("expertgivennames/FuzzyStringMatchResults.pkl")
df.to_csv("expertgivennames/FuzzyStringMatchResults.tsv", sep="\t", index=True)
df.shape

In [ ]:
from calculate_result import calculate_result
ground_truth = pandas.read_csv("ground_truth_16_expertsname.tsv", sep="\t", index_col=0)
calculate_result(df, ground_truth)

In [ ]:
df