<ul>
<li>Task: Given two dataset A and B, find correspondance A--> B, based on determinat variable 
    ($\theta$) e.g., 'FullName' or 'surname' <li>
<li> Input: A(x1, x2, ...xn) and B(y1, y2, ..., ym) </li>
<li> Output: A-->B {(x1-->y1, x2-->y2), ... , (xn-->ym)} </li>
    
<li> we are looking for n to n relationship </li>
</ul>

In [1]:
import sys
sys.path.append("..")

In [2]:
import pandas, pickle

This script takes into consideration of all the NMVW constituent and all the bronbeek constituent and we are looking for n-to-n match. So, maximum number of possible match could be 39567$\times$15382!

Source --> NMVW (39567)

Target --> Bronbeek (15382)

In [3]:
df1 = pandas.read_pickle("../nmvw_data/person_names.pkl")
df2 = pandas.read_csv("../data/bronbeek_constituents.csv", sep=";", index_col=0)

In [4]:
print(f"The shape of NMVW data: {df1.shape}")
print(f"The shape of Bronbeek data: {df2.shape}")

The shape of NMVW data: (39567, 6)
The shape of Bronbeek data: (15382, 36)

# Exact string matching

In [ ]:
from matchexactstring.match_exact_string import matchExactString

result_exact = matchExactString(df1, df2)

In [ ]:
with open("results/ExactMatchResults.pkl", "wb") as handle:
    pickle.dump(result_exact, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [6]:
df = pandas.read_pickle("results/ExactMatchResults.pkl")
df.to_csv("results/ExactMatchResults.tsv", sep="\t", index=True)
df.shape

(6, 27)

# Abbreviation Matching

In [ ]:
from matchwithabbreviation.match_with_abbreviation import match_with_abbreviation
result_abbreviation = match_with_abbreviation(df1, df2)

In [ ]:
with open("results/AbbreviationMatchResults.pkl", "wb") as handle:
    pickle.dump(result_abbreviation, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [7]:
df = pandas.read_pickle("results/AbbreviationMatchResults.pkl")
df.to_csv("results/AbbreviationMatchResults.tsv", sep="\t", index=True)
df.shape

(1219, 43)

# Surname Matching

In [ ]:
from matchsurname.match_surname import matchLastName
result_surname = matchLastName(df1, df2)

In [ ]:
with open("results/SurnameMatchResults.pkl", "wb") as handle:
    pickle.dump(result_surname, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [8]:
df = pandas.read_pickle("results/SurnameMatchResults.pkl")
df.to_csv("results/SurnameMatchResults.tsv", sep="\t", index=True)
df.shape

(51376, 42)

# Fuzzy String Match

In [ ]:
from matchfuzzystring.match_fuzzy_string import match_fuzzy_string
result_fuzzymatch = match_fuzzy_string(df1, df2, max_score=75)

In [ ]:
with open("results/FuzzyStringMatchResults.pkl", "wb") as handle:
    pickle.dump(result_fuzzymatch, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [9]:
df = pandas.read_pickle("results/FuzzyStringMatchResults.pkl")
df.to_csv("results/FuzzyStringMatchResults.tsv", sep="\t", index=True)
df.shape

(1600121, 43)

In [10]:
df.head()

,nmvw_uri,pref_label,birth_begin_time,birth_end_time,death_begin_time,death_end_time,score,ConstituentID,ConstituentTypeID,Active,...,Approved,PublicAccess,IsPrivate,DefaultNameID,SystemFlag,InternalStatus,DefaultDisplayBioID,BeginDateISO,EndDateISO,FullName
0,https://hdl.handle.net/20.500.11840/pi49286,Ph. Curtin,None,None,None,None,100,5640,1,0,...,0,0,0,9018,0,0,-1,NaN,NaN,Hugo P
1,https://hdl.handle.net/20.500.11840/pi49286,Ph. Curtin,None,None,None,None,78,14404,1,0,...,0,0,0,15785,0,0,-1,NaN,NaN,C. Augustijn-Phielix
2,https://hdl.handle.net/20.500.11840/pi56093,"Albrecht, H.",None,None,None,None,100,1077,1,0,...,0,0,0,1387,0,0,-1,NaN,NaN,R.N. Bär
3,https://hdl.handle.net/20.500.11840/pi56093,"Albrecht, H.",None,None,None,None,100,1078,0,0,...,0,0,0,1386,0,0,-1,NaN,NaN,NaN
4,https://hdl.handle.net/20.500.11840/pi56093,"Albrecht, H.",None,None,None,None,100,3601,1,0,...,0,0,0,1047,0,0,-1,NaN,NaN,NaN

Evaluation on the 16 expert given name can be found [here](evaluation.ipynb)