In [1]:
import pandas

df = pandas.read_csv("conxref_object_link.csv")
df.head()

,s,object,Unnamed: 2
0,"""https://example.com/ConXrefs/156404""","""https://example.com/Objects/84043""",NaN
1,"""https://example.com/ConXrefs/129378""","""https://example.com/Objects/71882""",NaN
2,"""https://example.com/ConXrefs/143182""","""https://example.com/Objects/78708""",NaN
3,"""https://example.com/ConXrefs/143517""","""https://example.com/Objects/78708""",NaN
4,"""https://example.com/ConXrefs/65968""","""https://example.com/Objects/41303""",NaN

In [18]:
import rdflib, os
from rdflib import Graph, URIRef
from rdflib.namespace import SKOS

def insert_links(df):
    g = Graph()

    try:
        for _ , row in df.iterrows():
            conxrefs = URIRef(str(row['s']).strip().replace('"', ''))
            object = URIRef(str(row['object']).strip().replace('"', ''))
            
            g.add((conxrefs, SKOS.related, object))
        
    finally:
        return g

In [5]:
df.columns

Index(['s', 'object', 'Unnamed: 2'], dtype='object')

In [20]:
insert_links(df).serialize(destination='conxreftoobject_graph.ttl')

In [1]:
import rfc3987
rfc3987.parse("http://www.cidoc-crm.org/cidoc-crm/P2_has_type", rule='IRI')

{'scheme': 'http',
 'authority': 'www.cidoc-crm.org',
 'path': '/cidoc-crm/P2_has_type',
 'query': None,
 'fragment': None}

In [4]:
import iribaker
iri = iribaker.to_iri("http://www.cidoc-crm.org/cidoc-crm/P2_has_type")
rfc3987.parse(iri, rule='IRI')

{'scheme': 'http',
 'authority': 'www.cidoc-crm.org',
 'path': '/cidoc-crm/P2_has_type',
 'query': None,
 'fragment': None}

In [ ]:
http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by

In [17]:
import pandas

df = pandas.read_csv("../Bronbeek_Data/objects.csv", index_col=False)
df.dropna(axis='columns', how='all').columns

/var/folders/jg/8kz6nb554_3dz1_0swrmdw480000gn/T/ipykernel_8427/2315874685.py:3: DtypeWarning: Columns (14,21,22,26,29,30,44,50,58,60,63,64,65,67,70,72,73,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pandas.read_csv("../Bronbeek_Data/objects.csv", index_col=False)

Index(['ObjectID', 'ObjectNumber', 'SortNumber', 'ObjectCount', 'DepartmentID',
       'ObjectStatusID', 'ClassificationID', 'SubClassID', 'Type',
       'LoanClassID', 'DateBegin', 'DateEnd', 'ObjectName', 'Dated', 'Title',
       'Medium', 'Dimensions', 'Signed', 'Inscribed', 'Markings', 'CreditLine',
       'Chat', 'DimensionRemarks', 'Description', 'Exhibitions', 'Provenance',
       'PubReferences', 'Notes', 'CuratorialRemarks', 'RelatedWorks',
       'Portfolio', 'ObjectHeightCMOLD', 'ObjectWidthCMOLD',
       'ObjectDepthCMOLD', 'ObjectDiameterCMOLD', 'ObjectWeightKGOLD',
       'PublicAccess', 'CuratorApproved', 'OnView', 'TextSearchID', 'LoginID',
       'EnteredDate', 'SysTimeStamp', 'Accountability', 'PaperFileRef',
       'ObjectLevelID', 'ObjectTypeID', 'ObjectScreenID', 'UserNumber3',
       'ObjectNameID', 'ObjectNameAltID', 'State', 'HistAttributions',
       'Bibliography', 'LoanClass', 'Edition', 'Cataloguer', 'Curator',
       'ObjectDiamCMOLD', 'PaperSupport', 'IsVirtual', 'CatalogueISODate',
       'CuratorRevISODate', 'IsTemplate', 'SortNumber2', 'DateRemarks',
       'DateEffectiveISODate', 'InJurisdiction', 'SearchObjectNumber'],
      dtype='object')

In [23]:
df = df[df['Markings']!='NULL']
df.dropna(subset=['Markings'])['Markings']

4                                                  187; 59
88                          kling geÃ«tst met bloemmotieven
106                                              Tower; GR
180                                                gevaert
191                                                   SB17
                               ...
82132                                                 S.J.
82134                                          IJzerhouwer
92669                                       (ingekrast) B+
94331    B met erboven een kroon;\r\n2 gekruiste klewan...
94443    Draagt een stickertje met de codering C4 1944/...
Name: Markings, Length: 3646, dtype: object