In [68]:
import pandas

df = pandas.read_csv("conxref_object_link.csv")
df.columns

Index(['s', ' object ', 'Unnamed: 2'], dtype='object')

In [74]:
import rdflib, os
from rdflib import Graph, URIRef
from rdflib.namespace import SKOS

def insert_links(df):
    g = Graph()

    try:
        for i , row in df[:10].iterrows():
            print(f"conxref: {row['s']}, object: {row['object']}")
            conxrefs = str(row['s']).strip().replace('"', '')
            object = str(row['object']).strip().replace('"', '')
           
            g.add((conxrefs, SKOS.related, object))
        
    finally:
        print(len(g))
        return g

In [72]:
df = df.dropna(axis=1)
df.head()

,s,object
0,"""https://example.com/ConXrefs/4680""","""https://example.com/Bronbeek/Objects/4592"""
1,"""https://example.com/ConXrefs/1754""","""https://example.com/Bronbeek/Objects/2332"""
2,"""https://example.com/ConXrefs/5001""","""https://example.com/Bronbeek/Objects/4500"""
3,"""https://example.com/ConXrefs/2664""","""https://example.com/Bronbeek/Objects/3255"""
4,"""https://example.com/ConXrefs/5145""","""https://example.com/Bronbeek/Objects/5100"""

In [75]:
insert_links(df).serialize(destination='conxreftoobject_graph.ttl')

0