In [68]:
import pandas

df = pandas.read_csv("conxref_object_link.csv")
df.columns

Index(['s', ' object ', 'Unnamed: 2'], dtype='object')

In [92]:
import rdflib, os
from rdflib import Graph, URIRef
from rdflib.namespace import SKOS

def insert_links(df):
    g = Graph()

    try:
        for _ , row in df.iterrows():
            conxrefs = URIRef(str(row[0]).strip().replace('"', ''))
            object = URIRef(str(row[1]).strip().replace('"', ''))
            g.add((conxrefs, SKOS.related, object))
        
    finally:
        print(len(g))
        return g

In [93]:
df = df.dropna(axis=1)
df.head()

,s,object
0,"""https://example.com/ConXrefs/4680""","""https://example.com/Bronbeek/Objects/4592"""
1,"""https://example.com/ConXrefs/1754""","""https://example.com/Bronbeek/Objects/2332"""
2,"""https://example.com/ConXrefs/5001""","""https://example.com/Bronbeek/Objects/4500"""
3,"""https://example.com/ConXrefs/2664""","""https://example.com/Bronbeek/Objects/3255"""
4,"""https://example.com/ConXrefs/5145""","""https://example.com/Bronbeek/Objects/5100"""

In [94]:
insert_links(df).serialize(destination='conxreftoobject_graph.ttl')

/var/folders/jg/8kz6nb554_3dz1_0swrmdw480000gn/T/ipykernel_1346/318892025.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  conxrefs = URIRef(str(row[0]).strip().replace('"', ''))
/var/folders/jg/8kz6nb554_3dz1_0swrmdw480000gn/T/ipykernel_1346/318892025.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  object = URIRef(str(row[1]).strip().replace('"', ''))

182944